h1 {
    font-size: 24px;
}

#rank-body {
  display: flex;
  justify-content: centeqr;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6vh;
  padding: 5;
}

.rankings-table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}