body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-x: 'hidden';
    overflow-y: 'hidden';
}

.footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
    font-size: 24px;
}

header {
    position: 'fixed';
    top: '0';
    left: '0';
    right: '0';
    padding: '10px';
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
}

.rankings-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}